body{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(214, 212, 209);
}
.form-control{
    width: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.head{
    text-align: center;
    margin: 15px;
}
header{
    text-align: left;
    margin-bottom: 30px;
}
.float-left{
    width: 32%;
    margin: 5px;
}

img{
    width:100%
}
.title{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: white;
}

.button-game{
    padding: 15px;
}
.buttonExit{
    text-align: center;
    margin-top: 20px;    
}
.button{
    text-align: center;
}
.game{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.canvas{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.hardway{
    text-align: center; 
    background-color:white;
    margin: 50px;
    border: 2px solid black;
  border-radius: 5px;
}
.formularz{
    margin-top: 50px;
}